{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"
    />
    {% block style %}
    {% endblock style %}
    <title>SSAFY Lunch</title>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <div class="blue-line"></div>
    </header>
    <main class="container">
      {% block content %}
      {% endblock content %}
    </main>
    {% block js %}
    {% endblock js %}
  </body>
</html>
