.wrap-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 텍스트 */

.main-text {
  margin-bottom: 5rem;
  text-align: center;
}
.main-text .text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

/* 홈 버튼 */
.home-btn {
  width: 400px;
  height: 80px;
  border: 1px solid #ced4da;
  border-radius: 10px;
}
.home-btn .home-text {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
  opacity: 67%;
}
